<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>Privacy - Camera Usage Description
</key>
	<string>This app requires camera access to take photos.
This app requires camera access to take photos.
This app requires camera access to take photos.
This app requires camera access to take photos.
This app requires camera access to take photos.
This app requires camera access to take photos.
This app requires camera access to take photos.
</string>
	<key>Privacy - Photo Library Additions Usage Description
</key>
	<string>This app requires permission to save photos.
</string>
	<key>Privacy - Photo Library Usage Description
</key>
	<string>This app requires access to your photo library.
</string>
</dict>
</plist>
